.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .popular-songs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .song-card {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .song-card h3 {
    margin-top: 0;
  }
  
  .song-card p {
    margin-bottom: 5px;
  }  