.home-page {
  padding: 20px;
}

.songs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.song-card {
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.song-image {
  width: 100%;
  height: auto;
}

.song-title {
  font-size: 1em;
  margin-top: 10px;
}

.song-artist {
  font-size: 0.9em;
  color: #aaa;
}