.playlist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #181818;
  padding: 20px;
  width: 100%;
}

.playlist-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.playlist-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  border-radius: 10px;
}

.playlist-info {
  display: flex;
  flex-direction: column;
}

.playlist-title {
  font-size: 2.5em;
  font-weight: bold;
}

.playlist-owner,
.playlist-details {
  font-size: 1.2em;
  margin-top: 5px;
}

.playlist-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
}

.play-button,
.shuffle-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover,
.shuffle-button:hover {
  background-color: #1ed760;
}

.playlist-songs {
  width: 100%;
  max-width: 800px;
  background-color: #121212;
  border-radius: 10px;
  padding: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

thead {
  border-bottom: 1px solid #282828;
}

tbody tr {
  border-bottom: 1px solid #282828;
}

tbody tr:hover {
  background-color: #282828;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
