.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #181818;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.song-info {
  display: flex;
  align-items: center;
}

.song-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-title {
  font-size: 1.2em;
}

.song-artist {
  font-size: 0.9em;
  color: #bbb;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.control-button {
  background: none;
  border: none;
  color: #fff;
  margin: 0 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.control-button:hover {
  color: #1db954;
}

.progress-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}

.progress-bar span {
  margin: 0 10px;
}

.progress-bar input[type="range"] {
  width: 100%;
}

.nav-button {
  margin: 0 20px;
  padding: 5px 10px;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}